# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Secret keys
*.env

# Development and local settings
*.log
*.ini
*.db

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd
db.sqlite3

# Dependency directories
venv/
env/